<div class="game-card" [ngClass]="{'beta': game.isBeta}">
  <div class="thumbnail">
    <!-- <img class="animated-tbn" src="assets/thumbnails/ministick-clip-2.gif"> -->
    <img class="static" [src]="game.thumbnailUrl">
  </div>

  <h1>
    {{ game.title }} <sup *ngIf="game.isBeta">BETA</sup>
  </h1>
  <div class="desc" [innerHtml]="gameDesc"> </div>

  <div class="center">
    <div class="spacer"></div>
    <img src="assets/icons/buttons-icon.png" title="Coming soon! 👀">
    <div class="spacer"></div>
    <div class="spacer"></div>
    <icon-button [kind]="Kind.GAMES" [link]="game.link" [title]="'Play ' + game.title + '!'"></icon-button>
    <div class="spacer"></div>
  </div>

  <div class="info">
    <span class="date"> {{ formattedDate }} </span>
    <div class="spacer"></div>
    <ng-container *ngFor="let lang of game.languages">
      <img class="lang" [src]="langURL(lang)" [title]="lang">
    </ng-container>
  </div>

  <ng-container *ngIf="!game.isBeta">
    <span class="prog-label">DEV PROGRESSION:</span>
    <div class="progression-bar">
      <div class="gauge" [style.width.%]="100 * game.devProg"></div>
    </div>
  </ng-container>
</div>
