<div class="caution-container">
  <div class="jackhammer-container">
    <img src="assets/icons/jackhammer.gif" height="70px">
  </div>

  <div class="caution-message">
    <h2> CAUTION </h2>
    <h3> <u> This website is still under construction. </u> </h3>

    <div class="text">
      <p>
        <u>I'm currently working on this site interface and content.</u> <br>
        New stuff should be added soon. <span class="white">Don't hesitate to come back for more !</span>
        <br> <br>
        Please don't mind the fact that some <span class="white">key-content</span> is missing. <br>
        However, if you notice some <span class="white">disfunctionments</span>/<span class="white">issues</span> in
        what is currently displayed,
        I would appreciate you to <span class="white">contact</span> me. <u>I put a few links below !</u> <br> <br>
        Also, any kind of <span class="white">feedback</span> would be really appreciated ✨
        <span class="white">enjoy your stay !</span> :D
      </p>
    </div>
  </div>
</div>

<footer>
    <div class="lang-box" title="Toggle language !" (click)="toggleLanguage()">
      <div class="center">
        <img src="assets/icons/web-icon.png">
      </div>
      <div class="center"> {{ lang }} </div>
    </div>

    <div class="spacer"></div>

    <div class="links-zone">
      <div class="center">
        <div class="link-box">
          <a class="mail-link" target="_blank">
            <img class="mail-img"
              src="https://santasworkshoptn.files.wordpress.com/2021/01/email-icon-white-circle1.png">
          </a>
        </div>
        <div class="link-box">
          <a href="https://github.com/osef-art" target="_blank">
            <img src="http://thomas-blondel.fr/img/github-logo.png">
          </a>
        </div>
        <div class="link-box">
          <a class="discord-link" target="_blank">
            <img class="discord-img" src="https://snailking.github.io/poa_snailfarm/img/discord_circle.png">
          </a>
        </div>
      </div>

      <div class="center">
        <span class="signature">
          osef. <span class="thin">© 2021</span>
        </span>
      </div>
    </div>

    <div class="spacer"></div>
    <div class="lang-box"></div>
</footer>
