@use "sass:map";
@import "../../app.component.scss";

.title-zone {
  margin-bottom: 0;

  svg {
    position: absolute;
    overflow: hidden;
    margin: 0 auto;
    z-index: 0;
  }

  .wave-anim {
    margin: 32pt 0 0 225px;

    #wave {
      stroke-dasharray: 0 16 101 16;
      animation: move-the-wave 5000ms linear infinite;
    }
  }

  .wheel-anim {
    margin-left: 110px;
  }

  @keyframes move-the-wave {
    0% {
      stroke-dashoffset: 0;
      transform: translate3d(0, 0, 0);
    }

    100% {
      stroke-dashoffset: -133;
      transform: translate3d(-90px, 0, 0);
    }
  }
}

.intro-zone {
  @extend .flex;

  .spacer {
    min-width: 120px;
  }

  .intro {
    text-align: justify;
    width: 65%;
  }

  p {
    color: $fake-white;
    font-size: 18pt;
  }

  @each $name,
  $color in $accent-colors {
    .#{$name}-link {
      color: white;
      display: inline-block;
      text-shadow: -2px 2px rgba($color: $color, $alpha: .5);
      transition: .5s;

      &:hover,
      &:focus {
        transform: translate(2.5px, -2.5px);
        text-shadow: -2px 2px rgba($color: $color, $alpha: .8);
      }
    }
  }
}

.articles-zone {
  max-width: 900px;

  .panel-line, article, featured-article {
    @extend .flex;
    margin: 20px 0;
  }

  .vertical-spacer {
    min-width: 20px;
  }

  // .button {
  //   @extend .flex;
  //   overflow: hidden;
  //   display: inline-block;
  //   font-family: "Raleway";
  //   font-size: 28pt;
  //   height: 100px;
  //   width: 250px;
  //   border-radius: 5px;
  //   background-color: #967dfa;
  //   transition: .3s;

  //   span {
  //     position: absolute;
  //   }

  //   .light {
  //     position: absolute;
  //     height: inherit;
  //     width: 50px;
  //     background-color: white;
  //     transform: translate(-200%) skew(-20deg);
  //   }

  //   &:hover {
  //     overflow: hidden;
  //     transform: scale(1.1);

  //     .light {
  //       background-color: rgba(255, 255, 255, .5);
  //       transform: translate(250px) skew(-20deg);
  //       transition: .7s;
  //     }
  //   }
  // }
}
