<link rel="icon" type="image/png" href="assets/favicons/main-icon.png"/>

<div class="title-zone">
  <span class="title-shadow-home">welcøme.</span>
  <div>
    <span class="title-text">welcøme.</span>
  </div>
  <div id="dashed-1"></div>
  <div id="dashed-2"></div>
  <div id="dashed-3"></div>
  <div id="dashed-4"></div>

  <svg class="wheel-anim" width="100px" height="100px">
    <circle fill="none" stroke="rgba(175, 150, 255, .6)" stroke-linecap="round" stroke-width="2" stroke-miterlimit="4"
      stroke-dasharray="12,12" cx="50" cy="50" r="40">
      <animateTransform attributeName="transform" attributeType="XML" type="rotate" dur="30s" from="0 50 50"
        to="360 50 50" repeatCount="indefinite"/>
    </circle>
  </svg>

  <svg class="wave-anim" width="80px" height="60px" viewBox="10 0 65 60">
    <path id="wave" fill="none" stroke="rgba(245, 235, 255, .35)" stroke-linecap="round" stroke-width="7" d=""></path>
  </svg>
</div>

<div class="intro-zone">
  <div class="spacer"></div>
  <div class="intro">
    <p>
      <span class="white"> glad you got there. </span>
      feel free to check my latest works in
      <a routerLink="/games" routerLinkActive="active" class="games-link">game developping</a>,
      <a routerLink="/art" routerLinkActive="active" class="art-link"> designing</a>,
      <a routerLink="/music" routerLinkActive="active" class="music-link">producing</a> or
      <a routerLink="/anims" routerLinkActive="active" class="anims-link">animating</a> !
    </p>
  </div>
  <div class="spacer"></div>
</div>

<bitmosef (click)="scrollToTop()"></bitmosef>

<div class="center">
  <div class="articles-zone">
    <article [kind]="eKind.ART" [articleId]="'ministick'" [githubLink]="'https://github.com/osef-art/ministick'"
      [new]="true" [textRight]="true">
    </article>

    <div class="panel-line">
      <panel [kind]="eKind.ART" [title]="'graphism'" [minWidth]="60"></panel>

      <div class="vertical-spacer"></div>

      <quick-tip-lang></quick-tip-lang>

      <div class="vertical-spacer"></div>
    </div>

    <featured-article [kind]="eKind.ART" [articleId]="'collab'" [textRight]="true"
      [twitterLink]="'eChoGames_'" [websiteLink]="'ecgs.fr'" [guestName]="'eCho'">
    </featured-article>

    <article [kind]="eKind.ART" [articleId]="'ministick2'" [githubLink]="'https://github.com/osef-art/ministick-moves'"
      [btnText]="'TEST'">
    </article>
  </div>
</div>
