@use "sass:list";
@import "../../app.component.scss";

.title-zone {
  margin-bottom: 0;

  .title-shadow-home {
    @extend %title-shadow;
    background: -webkit-linear-gradient(left, rgb(160, 160, 175), rgb(175, 125, 250));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    transition: ease-out .3s;
  }

  svg {
    position: absolute;
    overflow: hidden;
    margin: 0 auto;
    z-index: 0;
  }

  .wheel-anim {
    margin-left: 110px;
    height: 100px;
  }

  .wave-anim {
    margin: 32pt 0 0 225px;

    #wave {
      stroke-dasharray: 0 16 101 16;
      animation: move-the-wave 5000ms linear infinite;
    }
  }

  @keyframes move-the-wave {
    0% {
      stroke-dashoffset: 0;
      transform: translate3d(0, 0, 0);
    }

    100% {
      stroke-dashoffset: -133;
      transform: translate3d(-90px, 0, 0);
    }
  }

  &:hover .title-shadow-home {
    margin-top: 5px;
    margin-left: -5px;
    background: -webkit-linear-gradient(left,
      list.nth($sig-gradient, 1),
      list.nth($sig-gradient, 2)
    );
    background-clip: text;
    -webkit-background-clip: text;
  }
}

:host::ng-deep .intro-zone {
  @extend .flex;

  .spacer {
    min-width: 120px;
  }

  .intro {
    text-align: justify;
    width: 65%;
  }

  p {
    color: $fake-white;
    font-size: 18pt;
  }

  @each $name, $color in $accent-colors {
    .#{$name}-link {
      color: white;
      display: inline-block;
      text-shadow: -2px 2px rgba($color: $color, $alpha: .5);
      transition: .5s;

      &:hover,
      &:focus {
        transform: translate(2.5px, -2.5px);
        text-shadow: -2px 2px rgba($color: $color, $alpha: .8);
      }
    }
  }
}

.articles-zone {
  max-width: $page-max-width;

  .panel-line, article, featured-article {
    @extend .flex;
    margin: 20px 0;
  }

  .vertical-spacer {
    min-width: 20px;
  }
}
