<link rel="icon" type="image/png" href="assets/favicons/main-icon.png"/>

<div class="title-zone">
  <span class="title-shadow-home">welcøme.</span>
  <div>
    <span class="title-text">welcøme.</span>
  </div>

  <div class="dashed-1"></div>
  <div class="dashed-2"></div>
  <div class="dashed-3"></div>
  <div class="dashed-4"></div>

  <svg class="wheel-anim">
    <circle fill="none" stroke="rgba(175, 150, 255, .6)" stroke-linecap="round" stroke-width="3" stroke-miterlimit="4"
      stroke-dasharray="12,12" cx="50" cy="50" r="40">
      <animateTransform attributeName="transform" type="rotate" repeatCount="indefinite" dur="30s"
      from="0 50 50" to="360 50 50"/>
    </circle>
  </svg>

  <svg class="wave-anim" width="80px" height="60px" viewBox="10 0 65 60">
    <path id="wave" fill="none" stroke="rgba(245, 235, 255, .35)" stroke-linecap="round" stroke-width="7" d=""></path>
  </svg>
</div>

<div class="intro-zone">
  <div class="spacer"></div>
  <div class="intro">
    <p>
      <span class="white"> glad you got there. </span>
      feel free to check my latest works in
      <a routerLink="/games" class="games-link">game developping</a>,
      <a routerLink="/art" class="art-link"> designing</a>,
      <a routerLink="/music" class="music-link">producing</a> or
      <a routerLink="/anims" class="anims-link">animating</a> !
    </p>
  </div>
  <div class="spacer"></div>
</div>

<bitmosef (click)="scrollToTop()"></bitmosef>

<div class="center">
  <div class="articles-zone">
    <article [kind]="Kind.GAMES" articleId="ministick" githubLink="https://github.com/osef-art/ministick"
      [new]="true" [textRight]="true" link="games/ministick">
    </article>

    <div class="panel-line">
      <panel [kind]="Kind.ART" title="graphism" [minWidth]="60"></panel>

      <div class="vertical-spacer"></div>

      <random-tip></random-tip>

      <div class="vertical-spacer"></div>
    </div>

    <featured-article [kind]="Kind.GAMES" articleId="collab" [textRight]="true" twitterLink="eChoGames_"
      websiteLink="ecgs.fr" guestName="eCho" link="https://gamejam.com/game/potsdealer">
    </featured-article>

    <article [kind]="Kind.GAMES" articleId="ministick2" githubLink="https://github.com/osef-art/ministick-moves"
      btnText="TEST" link="games/ministick-moves">
    </article>
  </div>
</div>
