<ng-container *ngIf="linkIsURL; else navButton">
  <a [href]="link">
    <ng-container *ngTemplateOutlet="button"></ng-container>
  </a>
</ng-container>

<ng-template #navButton>
  <a [routerLink]="'/' + link" routerLinkActive="active">
    <ng-container *ngTemplateOutlet="button"></ng-container>
  </a>
</ng-template>

<ng-template #button>
  <div [class]="kind + accentSuffix">
    <span class="inner-txt"> {{ text }} </span>
    <div class="inner-btn">
      <ng-container *ngIf="innerContentIsImg; else innerStuff">
        <img [src]="innerContent">
      </ng-container>
    </div>
  </div>
</ng-template>

<ng-template #innerStuff>
  <span> {{ innerContent }} </span>
</ng-template>
