@use "sass:map";
@use "sass:math";
@import "../../../styles.scss";

$button-size: 50px;

@keyframes back-forth {
  0% {
    transform: translateX(-10%);
  }

  50% {
    transform: translateX(10%);
  }

  100% {
    transform: translateX(-10%);
  }
}

@keyframes hide-icon {
  10% {
    border-bottom-width: 0;
  }

  75% {
    transform: translateY(-7.5px);
    opacity: 1;
  }

  100% {
    transform: translateY($button-size);
    opacity: 0;
  }
}

@keyframes hide-spin-icon {
  75% {
    transform: translateY(-7.5px) rotate(90deg);
    opacity: 1;
  }

  100% {
    transform: translateY($button-size) rotate(90deg) ;
    opacity: 0;
  }
}

@keyframes tick-dl {
  100% {
    border-bottom: solid white 0;
    top: 0;
  }
}

@mixin download-animation($anim) {
  .dl-icon {
    animation: $anim 1.5s;
    animation-fill-mode: forwards;
    animation-delay: .5s;
  }

  .tick-icon {
    animation: tick-dl .5s;
    animation-fill-mode: forwards;
    animation-delay: 1.5s;
  }
}

.icon-button, .growing-button, .return-button {
  @extend .center;
  width: $button-size;
  height: $button-size;
  overflow: hidden;

  font-size: 30px;
  border-radius: math.div($button-size , 2);
  background-color: map.get($accent-colors, "games");
  box-shadow: 0 5px 5px rgba($color: black, $alpha: .2);
  transition: .5s;

  img {
    height: math.div($button-size * 2, 3);
    transition: .7s;
  }
}

%dl-button {
  @extend .icon-button;

  .dl-icon {
    position: absolute;
    height: math.div($button-size , 2);
    transition: .3s;
  }

  .tick-icon {
    @extend .center;
    position: relative;
    height: inherit;
    width: inherit;
    top: math.div(-$button-size * 3, 2);
    background: rgb(50, 225, 200);
    border-bottom: solid white $button-size * 2;

    img {
      height: 50%;
    }
  }
}

.download-button {
  @extend %dl-button;

  .dl-icon {
    border-bottom: solid white 0;
  }

  &.dl-anim {
    @include download-animation(hide-icon);
  }
}

.play-download-button {
  @extend %dl-button;

  &.dl-anim {
    @include download-animation(hide-spin-icon);
  }
}

.return-button {
  transform: scale(0.8);
}

.labeled-return-button {
  margin: 20px;
}

.button-label {
  font-size: 14pt;
  padding: 0 10px;
}

a {
  cursor: pointer;
  display: inline-block;

  &:focus .icon-button, .icon-button:hover {
    transform: scale(1.2);
  }

  &:focus .growing-button, .growing-button:hover {
    img {
      transform: scale(1.2);
    }
  }

  &:focus .return-button, .return-button:hover {
    transform: scale(1);

    img {
      animation: back-forth .8s;
      animation-iteration-count: infinite;
    }
  }

  &:focus .download-button, .download-button:hover{
     .dl-icon {
      transform: translateY(-2.5px);
      border-bottom: solid white math.div($button-size , 1)2.5;
    }
  }
}
