@import "../quick-tip.scss";

.tip-lang-panel {
  @extend %tip-panel;
  border: dashed 5px rgb(125, 100, 250);
  background: repeating-linear-gradient(-60deg,
      rgb(50, 25, 100),
      rgb(50, 25, 100) 20px,
      rgb(25, 0, 75) 20px,
      rgb(25, 0, 75) 40px);

  h2 {
    font-size: 24pt;
  }
}

p {
  span {
  display: inline-block;
  }

  img {
    margin: 0 5px;
    max-height: 20px;
    vertical-align: middle
  }
}

.flags {
  @extend .center;

  img {
    opacity: .4;
    margin: 0 15px;
    max-height: 65px;
  }

  .selected {
    opacity: .9;
  }

  .animated {
    position: absolute;
    opacity: 0;
  }

  div {
    cursor: pointer;
    transition: .3s;

    &:hover {
      opacity: 1;
      margin: 5px 0;
      transform: scale(1.2);

      .static {
        opacity: 0 !important;
      }

      .animated {
        opacity: 1;
      }
    }
  }
}

.pressed {
  animation: press-wiggle 1s ease;
  animation-fill-mode: forwards;

  @keyframes press-wiggle {
    0% {
      transform: scale(.65);
    }

    20% {
      transform: scale(1.25);
    }

    60% {
      transform: scale(.9);
    }

    100% {
      transform: scale(1);
    }
  }
}
