<div [class]="kind + '-article'">
  <ng-container *ngIf="textRight; then thumbnailZone else content"></ng-container>
  <ng-container *ngIf="!textRight; then thumbnailZone else content"></ng-container>
</div>

<ng-template #thumbnailZone>
  <div class="thumbnail-zone">
    <div class="spacer"></div>
    <div class="flex">
      <img-carousel [name]="articleId" [slides]="article.thumbnails" [interval]="5000"></img-carousel>
      <ng-container *ngIf="new">
        <div class="new-stamp">
          <div class="spin"></div>
          <div class="spin2"></div>
          <span>NEW</span>
        </div>
      </ng-container>
    </div>
    <div class="spacer"></div>
    <div class="spacer"></div>
    <div class="more-link">
      <a [routerLink]="'/' + kind" (click)="scrollToTop()">more {{ kind }}...</a>
    </div>
  </div>
</ng-template>

<ng-template #content>
  <div class="article-content">
    <h2 [innerHtml]="parsedTitle"></h2>
    <div [innerHtml]="formattedDate" class="date"></div>
    <p [innerHtml]="parsedContent"></p>

    <div class="buttons-zone">
      <text-button [kind]="kind" [text]="btnText" [link]="link"></text-button>

      <ng-container *ngIf="githubLink">
        <icon-button [kind]="kind" icon="http://thomas-blondel.fr/img/github-logo.png" [link]="githubLink" title="Check the github page !"></icon-button>
      </ng-container>
    </div>
  </div>
</ng-template>
