@use "sass:map";
@import "../panel/panel.component.scss";

$article-padding: 20px;

.new-stamp {
  @extend .center;
  position: absolute;
  width: 40px;
  height: 40px;

  @mixin spin($anim) {
    width: 40px;
    height: 40px;
    position: absolute;
    background-color: map.get($accent-colors, "games");

    animation-name: $anim;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  span {
    position: absolute;
    vertical-align: middle;
    z-index: 2;
  }

  .spin {
    @include spin(spin);
  }

  .spin2 {
    @include spin(spin2);
  }

  @keyframes spin2 {
    from {
      transform: rotate(45deg);
    }

    to {
      transform: rotate(405deg);
    }
  }
}

:host::ng-deep %article {
  @extend %panel,
  .line;
  display: flex;
  text-align: left;
  padding: 0;

  h2 {
    font-size: 24pt;
  }

  a {
    @extend %clickable;
  }

  .date {
    @extend .thin;
    color: rgba($color: $fake-white, $alpha: .5);
  }

  .article-content {
    max-width: 60%;
    padding: $article-padding;

    h2 span {
      display: inline-block;
    }
  }

  p {
    @extend .desc;

    a {
      transition: .5s;
    }
  }

  .buttons-zone {
    @extend .spacer;
    padding: 10px 0;
  }

  .thumbnail-zone {
    @extend .center-y, .line;

    padding: $article-padding;
    background-color: rgba($color: $fake-white, $alpha: .05);

    img {
      @extend .line;
      border-radius: 5px;
      margin: 15px 0;
    }

    .more-link {
      @extend .light;

      a {
        font-size: 14pt;
        text-transform: uppercase;
        color: rgba($color: $fake-white, $alpha: .7);
        transition: .7s;

        &:hover {
          @extend .white;
        }
      }
    }
  }
}

@each $name, $color in $accent-colors {
  .#{$name}-article {
    @extend %article, .#{$name}-panel;
  }
}
