@import "../../pages/home-page/home-page.component.scss";

%frame {
  @extend .line;
  margin: 20px auto;
  border-radius: 10px;
  max-height: 250px;
}

.carousel {
  @extend %frame;
  overflow: hidden;

  figure {
    height: inherit;

    img {
      height: inherit;
      object-fit: cover;
    }
  }
}

img {
  @extend %frame;
}
