<icon-button icon="return" [label]="true"></icon-button>

<div class="flex-y center">
  <svg class="wheel-anim">
    <circle fill="none" stroke="rgba(175, 150, 255, .6)" stroke-linecap="round" stroke-width="3" stroke-miterlimit="4"
      stroke-dasharray="12,14" cx="50" cy="50" r="40">
      <animateTransform attributeName="transform" type="rotate" repeatCount="indefinite" dur="30s"
      from="0 50 50" to="360 50 50"/>
    </circle>
  </svg>

  <svg class="wave-anim" width="80px" height="60px" viewBox="10 0 65 60">
    <path id="wave" fill="none" stroke="rgba(245, 235, 255, .35)" stroke-linecap="round" stroke-width="7" d=""></path>
  </svg>

  <span class="logo-404">
    <span class="shadow">404</span>
    <div>
      <span class="text">404</span>
    </div>
  </span>

  <div class="message">
    ...how did you even got here ?
  </div>

  <a class="home-link" routerLink="/">
    Go back home
  </a>
</div>
