@use "sass:list";
@import "../../app.component.scss";

.wheel-anim {
  position: absolute;
  transform: scale(2);
}

.logo-404 {
  @extend %mont-bold,;
  user-select: none;
  font-size: 156pt;
  margin: 50px;

  .text {
    position: relative;
    cursor: crosshair;
    z-index: 2;
  }

  .shadow {
    position: absolute;
    margin-top: 10px;
    margin-left: -10px;
    z-index: 1;
    background: -webkit-linear-gradient(left,
      list.nth($sig-gradient, 1),
      list.nth($sig-gradient, 2)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.message {
  font-size: 16pt;
  color: rgba($color: $fake-white, $alpha: .3);
}

a {
  @extend %clickable;
  margin: 35px;
  transition: .7s;

  &:hover {
    color: $games-color;
    letter-spacing: 1px;
  }
}
