<div [class]="kind + '-featured-article'">
  <div class="featured-stamp"> FEATURED
    <div class="glide"></div>
  </div>
  <ng-container *ngIf="textRight; then thumbnailZone else content"></ng-container>
  <ng-container *ngIf="!textRight; then thumbnailZone else content"></ng-container>
</div>

<ng-template #thumbnailZone>
  <div class="thumbnail-zone">
    <div class="spacer"></div>
    <div class="flex">
      <img-carousel [kind]="kind" [name]="articleId" [slides]="article.thumbnails" [interval]="5"></img-carousel>
    </div>
    <div class="spacer"></div>
    <div class="spacer"></div>
    <div class="more-link">
      <a routerLink="/games"> {{ moreTxt }} </a>
    </div>
  </div>
</ng-template>

<ng-template #content>
  <div class="article-content">
    <h2 [innerHtml]="parsedTitle"></h2>
    <div [innerHtml]="formattedDate" class="date"></div>
    <p [innerHtml]="parsedContent"></p>

    <div class="flex">
      <div class="buttons-zone">
        <text-button [kind]="kind" [text]="btnText" [link]="link"></text-button>

        <ng-container *ngIf="githubLink">
          <icon-button [kind]="kind" [link]="githubLink" icon="https://s2.qwant.com/thumbr/0x380/d/a/063438c2c6cd5c967475c5f6edf5a64b26801f12f47807a930a2c78b2425ae/github-logo-png-white-github-11-icon-free-white-social-icons-512x512.png?u=https%3A%2F%2Fpluspng.com%2Fimg-png%2Fgithub-logo-png-white-github-11-icon-free-white-social-icons-512x512.png&q=0&b=1&p=0&a=0" title="Check the github page !"></icon-button>
        </ng-container>
      </div>

      <div class="follow-zone">
        <u> Follow {{ guestName }} ! </u>

        <div class="links">
          <ng-container *ngIf="websiteLink">
            <div class="link-box" [title]="'Check ' + guestName + '\'s website !'">
              <a target="blank" [href]="'https://' + websiteLink">
                <img class="link" src="assets/icons/web-icon.png">
              </a>
              WEBSITE
            </div>
          </ng-container>
          <ng-container *ngIf="twitterLink">
            <div class="link-box" [title]="'Check ' + guestName + '\'s Twitter !'">
              <a target="blank" [href]="'https://twitter.com/' + twitterLink">
                <img class="link" src="assets/icons/twitter-icon.png">
              </a>
              TWITTER
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</ng-template>
