@use "sass:map";
@use "sass:list";

// FONTS
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

@font-face {
  font-family: "Gotham";
  src: url("assets/fonts/Gotham.ttf") format("truetype");
}

@font-face {
  font-family: "GothamThin";
  src: url("assets/fonts/Gotham-Thin.otf") format("opentype");
}

@font-face {
  font-family: "Greycliff";
  src: url("assets/fonts/Greycliff.ttf") format("truetype");
}

@font-face {
  font-family: "Lufga";
  src: url("assets/fonts/LufgaBold.otf") format("opentype");
}

%mont {
  font-family: "MontSerrat", sans-serif;
  font-weight: 600;
}

%mont-bold {
  font-family: "MontSerrat", sans-serif;
  font-weight: 800;
}

%sans {
  font-family: "Gotham", sans-serif;
}

%gcliff {
  font-family: "Greycliff", sans-serif;
}

%qsand {
  font-family: "Quicksand", sans-serif;
}

.title {
  font-family: "Lufga", sans-serif;
}

.desc {
  @extend %gcliff;
}

.bolder {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
}

.light {
  font-family: "Poppins", sans-serif;
}

.thin {
  font-family: "GothamThin", sans-serif;
}

// COLORS

$fake-white: rgb(225, 225, 250);
$fake-black: rgb(50, 50, 60);
$no-color: rgba($color: black, $alpha: 0);

$sig-gradient: (rgb(175, 125, 250), rgb(250, 85, 150));
$featured-color: rgb(235, 250, 100);

$accent-colors: (
    "art": rgb(250, 25, 125),
  "games": rgb(175, 150, 250),
  "anims": rgb(150, 250, 225),
  "music": rgb(200, 250, 100),
);

$accent-colors-dark: (
    "art": rgb(225, 0, 110),
  "games": rgb(150, 100, 225),
  "anims": rgb(125, 225, 210),
  "music": rgb(175, 225, 75),
);

$accent-colors-dimmed: (
    "art": rgb(250, 75, 175),
  "games": rgb(175, 150, 250),
  "anims": rgb(200, 250, 250),
  "music": rgb(225, 250, 150),
);

// GLOBAL RULES
html, body {
  @extend %sans;
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;

  color: white;
  background: radial-gradient(
    rgb(5, 5, 7.5),
    rgb(40, 40, 42.5)
  );

  scrollbar-color: rgba(210, 210, 250, .5) rgb(52.5, 50, 60);
}

h1, h2, h3, h4 {
  @extend .title;
}

div {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  outline-width: 5px;
  outline-offset: 10px;
  outline-style: solid;
  outline-color: rgba($color: white, $alpha: 0);
  transition: .1s;

  &:focus {
    outline-width: 2px;
    outline-offset: 5px;
    outline-color: rgba($color: white, $alpha: .8);
  }
}

%clickable {
  cursor: pointer;
  color: inherit;
  text-decoration: underline;
  transition: .7s ease-out;
}

%discrete-link {
  color: inherit;
  outline-width: 0;
  outline-offset: 0px;

  &:focus, &:active {
    outline-color: $no-color;
  }
}

// UTILS
.border {
  border: solid white 2px;
}

.white {
  color: white;
}

.line {
  width: 100%;
}

.flex {
  display: flex;
}

.flex-y {
  @extend .flex;
  flex-direction: column;
}

.spacer {
  flex-grow: 1;
}

.center {
  @extend .flex;
  align-items: center; // horizontal
  justify-content: center; // vertical
}

.center-y {
  @extend .flex-y;
  justify-content: center;
}

.hidden {
  display: none;
}

