@import "../../app.component.scss";

ul {
  margin: 0;
  padding: 0;

  -webkit-columns: 3;
  -moz-columns: 3;
  columns: 3;
  -moz-column-fill: balance;
  column-fill: balance;
  column-gap: 0;
}

li {
  overflow: hidden;
  break-inside: avoid;
  margin: 15px;

  &:first-child {
    margin-top: 0;
  }
}

.game-column {
  width: 95%;
  max-width: $page-max-width;
  margin-bottom: 50px;

  .column-label {
    @extend .center;
    margin: 20px 0;
    font-size: 14pt;
    transition: 1s;

    .spacer {
      margin: 0 15px;
    }

    .stroke {
      @extend .spacer;
      border-bottom: solid $fake-white 1px;
    }

    img {
      padding: 0 15px;
      height: 10px;

      animation-name: spin;
      animation-duration: 5s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }

    .right {
      animation-direction: reverse;
    }

    span {
      transition: inherit;
    }
  }

  &:hover .column-label {
    letter-spacing: 5px;

    .spacer {
      padding: 0 30px;
    }
  }
}
