@import "../../app.component.scss";

.anim-focus {
	width: 70%;
  max-width: 600px;
	text-align: center;
	padding: 50px;
  padding-top: 0;
	background-color: $anims-color;
	transform: skew(-5deg);

  h2 {
    font-size: 20pt;
    text-shadow: 3px 3px rgba($color: black, $alpha: .3);
  }

  iframe {
    max-height: 250px;
    box-shadow: 7.5px 7.5px rgba($color: black, $alpha: .2);
    transform: skew(5deg);
  }
}


