<head>
  <title>anims.</title>
  <link rel="icon" type="image/png" href="../../assets/favicons/fav_anims.png" />
</head>

<div class="title-zone">
  <span class="title-shadow-anims">animations.</span>
  <div>
    <span class="title-text">animations.</span>
  </div>
</div>

<div class="flex">
  <div class="spacer"></div>
  <div class="anim-focus">
      <h2>🔥 last anim !</h2>

      <iframe src="https://www.youtube.com/embed/V5uTPx2Fnxo" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
  </div>
  <div class="spacer"></div>
</div>
