@use "sass:math";
@import "../home-page/home-page.component.scss";

$links: (
  "stickpage": rgb(150, 150, 180),
  "youtube": red,
  "stick-fighter": blue,
);

.title-shadow-about {
  @extend %title-shadow;
  background: -webkit-linear-gradient(left, rgb(160, 160, 250), rgb(175, 125, 250));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  transition: ease-out .3s;
}

.look {
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
  mask-image: linear-gradient(to bottom,
    rgba($color: black, $alpha: 1),
    rgba($color: black, $alpha: 1),
    rgba($color: black, $alpha: 0),
  );
}

.bio {
  @extend %mont;
  text-align: justify;
  max-width: math.div($page-max-width * 2, 3);
  width: 80%;

  .intro {
    @extend %mont-bold;
    text-align: center;
    font-size: 14pt;
  }

  p {
    color: $fake-white;
    line-height: 16pt;
    font-size: 12pt;
    margin: 30px 0;

    .link {
      @extend .white;
      text-decoration: underline;

      img {
        height: 12pt;
        transform: translate(0, 2.5pt);
        margin-right: 2pt;
      }
    }

    a {
      margin-left: 2.5px;
    }

    @each $name, $color in $links {
      .#{$name} {
        text-shadow: 1pt 1pt $color;
      }
    }
  }

  .left {
    transform: translate(-5%);
  }

  .right {
    transform: translate(5%);
  }
}

.what-do-i-use {
  @extend .line;
  text-align: center;
  margin: 40px 0;

  th {
    @extend .title;
    padding: 7.5px 0;
    font-size: 24pt;
  }

  tbody th {
    width: 70px;

    img {
      width: 60%;
    }
  }

  @each $name, $color in $accent-colors {
    th.#{$name} {
      text-shadow: -2px 2px rgba($color: $color, $alpha: .9);
    }

    td.#{$name}:hover {
      background-color: rgba($color: $color, $alpha: .15);

      .link {
        background-color: rgba($color: $color, $alpha: .2);
        box-shadow: 0px 4px rgba($color: $color, $alpha: .6);

        &:hover {
          background-color: rgba($color: $color, $alpha: .4);
          box-shadow: 0 6px rgba($color: $color, $alpha: 1);
        }
      }
    }
  }

  td {
    padding: 20px 0;
    background-color: rgba($color: white, $alpha: .05);
    transition: .8s;

    br {
      margin: 20px auto;
    }

    img {
      height: 40px;
    }

    .link {
      display: inline-block;
      margin: 5px;
      padding: 7.5px;
      border-radius: 5px;
      transition: .4s;

      &:focus, &:hover {
        transform: translateY(-5px);
      }
    }
  }

  .empty {
    background: none;
  }
}
