<link rel="icon" type="image/png" href="assets/icons/head.png"/>

<icon-button icon="return" [label]="true"></icon-button>

<div class="title-zone">
  <span class="title-shadow-about">who am I ?</span>
  <div>
    <span class="title-text">who am I ?</span>
  </div>
  <div class="dashed-1"></div>
  <div class="dashed-2"></div>
  <div class="dashed-3"></div>
  <div class="dashed-4"></div>

  <svg class="wave-anim" width="80px" height="60px" viewBox="10 0 65 60">
    <path id="wave" fill="none" stroke="rgba(245, 235, 255, .35)" stroke-linecap="round" stroke-width="7" d=""></path>
  </svg>
</div>

<div class="center">
  <div class="bio">
    <img class="look" src="assets/thumbnails/look.png" width="100%">

    <p class="intro">
      <span class="white">Hi there ! 🙋🏾‍♂️</span> I'm really glad you reached my portfolio/website. <br>
      My name is <span class="white">Adam</span>, I'm 20 and really into multimedia/developping stuff.
    </p>

    <p class="right">
      I've been drawing since I'm a kid, mostly <span class="white">stickmen</span>
      and <span class="white">cartoonish</span> characters.
      I was so into my universe that I made cartoons of my characters, with a lore
      and a bunch of adventures. <br>
      When I was in school, I was sharing my creations with a few friends who had quite
      similar interests. One of them made me discovered a site named
      <a target="_blank" href="http://stickpage.com" class="stickpage link">
        <img src="https://i.ytimg.com/an/haPw6EsZPHaZib8pOR-12w/featured_channel.jpg?v=5810f9e5">stickpage.com</a>,
      and
      I was stunned seeing a lot of people, like me, liked to share their nerdy universe
      with animations and games. I would spend <span class="white">hours</span> discovering new
      <span class="white">animations</span>, new <span class="white">animators</span> and new <span
        class="white">universes</span>.
    </p>
    <p class="left">
      Around <span class="white">2013</span>, I accidently downloaded on the Play Store a
      <span class="white">node-animating app</span> called
      <a target="_blank"
        href="https://play.google.com/store/apps/details?id=com.tweber.stickfighter.activities&hl=fr&gl=US"
        class="stick-fighter link">
        <img src="https://images-eu.ssl-images-amazon.com/images/I/71ISAG-CZAL.png">Stick Fighter</a> (I was
      aiming for an actual fighting game 😭),
      that I enjoyed and <span class="white">adopted</span> quite quickly. At first I only shared my
      creations with
      my friends, but after a few months I decided to put my work on a

      <a target="_blank" href="https://www.youtube.com/channel/UCopbaXWcmEAHV9uRxBZ2cKg" class="youtube link">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/09/YouTube_full-color_icon_%282017%29.svg/1280px-YouTube_full-color_icon_%282017%29.svg.png">YouTube
        channel</a>. <br> I was awful at animation, but I met a whole lot of people that <span
        class="white">supported</span> me
      and liked
      my universe. This really really helped me <span class="white">improving</span> over the years, making
      me discover
      new <span class="white">softwares</span>, <span class="white">techniques</span> and an amazing <span
        class="white">community</span>.
    </p>
    <p class="right">
      Around my entrance in college, I had to take a <span class="white">huge break</span>
      from animating to <span class="white">focus on my studies</span>.
      Plus, the lack of <span class="white">equipment</span> (graphic tablet, decent computer)
      was considerably <span class="white">slowing</span> my improvement. <br>
      But hopefully, my studies were focused on <span class="white">computer engineering</span>
      and taught me <span class="white">web designing</span> and <span class="white">software
        developping</span>. <br>
      With my skills in animating and my knowledge in Java, C++, etc. I've crafted on my own
      a bunch of <span class="white">little games</span> I've always dreamt about. <br>
      I'm really passionate about <span class="white">customizing</span> every detail, from
      <span class="white">game mechanics</span> to sprites, always from scratch.
    </p>
    <p class="left">
      One of my <span class="white">greatest wishes</span> is that my creations reach
      as <span class="white">many</span> people as possible. I want
      my stuff to <span class="white">inspire</span> people like other animators inspired me by the past.
      If my style and universe can be recognized among other creations, I would consider
      my <span class="white">goal</span> accomplished. :D
    </p>
  </div>
</div>

<div class="title-zone">
  <span class="title-shadow-about">what do I use ?</span>
  <div>
    <span class="title-text">what do I use ?</span>
  </div>
</div>

<table class="what-do-i-use">
  <thead>
    <tr>
      <th></th>
      <th class="art">drawing</th>
      <th class="games">coding</th>
      <th class="anims">animating</th>
      <th class="music">producing</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>
        <img src="https://www.nicepng.com/png/full/763-7639716_experiential-events-white-laptop-icon-png.png">
      </th>
      <td class="art">
        <div class="link">
          <a target="_blank" href="https://www.piskelapp.com/">
            <img title="Piskel"
              src="http://piskel-resizer.appspot.com/resize?size=200&url=http%3A%2F%2Fwww.piskelapp.com%2Fimg%2Fe76b3aeb-f69b-11e2-bbc3-837583717290.png">
          </a>
        </div>
        <div class="link">
          <a target="_blank" href="http://www.oldversion.fr/windows/macromedia-flash-8-0">
            <img title="Adobe Flash / Macromedia Flash"
              src="https://purepng.com/public/uploads/medium/purepng.com-adobe-flash-logo-iconadobeflashadobe-flashaiillustratoradobe-iconicontiffadobe-logologologo-icon-231519333627gfatq.png">
          </a>
        </div>
        <br>
        <div class="link">
          <a target="_blank" href="https://www.adobe.com/fr/products/animate.html">
            <img title="Adobe Animate" src="https://img.icons8.com/color/452/adobe-animate.png">
          </a>
        </div>
        <div class="link">
          <a target="_blank" href="https://www.dafont.com">
            <img title="dafont"
              src="https://img.pngio.com/dafont-database-leaked-download-raidforums-dafont-png-256_256.png">
          </a>
        </div>
      </td>
      <td class="games">
        <div class="link">
          <a target="_blank" href="https://code.visualstudio.com/">
            <img title="Visual Code Studio" src="https://www.armandphilippot.com/wp-content/uploads/2021/04/vscode.png">
          </a>
        </div>
        <div class="link">
          <a target="_blank" href="https://www.jetbrains.com/fr-fr/idea/">
            <img title="JetBrains IntellIJ"
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9c/IntelliJ_IDEA_Icon.svg/1200px-IntelliJ_IDEA_Icon.svg.png">
          </a>
        </div>
        <br>
        <div class="link">
          <a target="_blank" href="https://unity.com/">
            <img title="Unity"
              src="https://iconarchive.com/download/i106497/papirus-team/papirus-apps/unity-editor-icon.ico">
          </a>
        </div>
      </td>
      <td class="anims">
        <div class="link">
          <a target="_blank" href="https://www.piskelapp.com/">
            <img title="Piskel"
              src="http://piskel-resizer.appspot.com/resize?size=200&url=http%3A%2F%2Fwww.piskelapp.com%2Fimg%2Fe76b3aeb-f69b-11e2-bbc3-837583717290.png">
          </a>
        </div>
        <div class="link">
          <a target="_blank" href="http://www.oldversion.fr/windows/macromedia-flash-8-0">
            <img title="Adobe Flash / Macromedia Flash"
              src="https://purepng.com/public/uploads/medium/purepng.com-adobe-flash-logo-iconadobeflashadobe-flashaiillustratoradobe-iconicontiffadobe-logologologo-icon-231519333627gfatq.png">
          </a>
        </div>
        <br>
        <div class="link">
          <a target="_blank" href="https://www.adobe.com/fr/products/animate.html">
            <img title="Adobe Animate" src="https://img.icons8.com/color/452/adobe-animate.png">
          </a>
        </div>
        <div class="link">
          <a target="_blank" href="https://www.nchsoftware.com/videopad/fr/index.html">
            <img title="VideoPad"
              src="https://freewindowsactivator.com/wp-content/uploads/2020/08/VideoPad-Video-Editor-Crack-With-Registration-Code-CrackDev.png">
          </a>
        </div>
      </td>
      <td class="music">
        <div class="link">
          <a target="_blank" href="https://www.image-line.com/">
            <img title="FL Studio" src="https://cdn2.clc2l.fr/t/f/l/fl-studio-fruity-loop-WerM2Q.png">
          </a>
        </div>
      </td>
    </tr>
    <tr>
      <th>
        <img
          src="https://iconsplace.com/wp-content/uploads/_icons/ffffff/256/png/smartphone-and-tablet-icon-18-256.png">
      </th>
      <td class="art">
        <div class="link">
          <a target="_blank" href="https://play.google.com/store/apps/details?id=com.ilixa.chroma&hl=fr&gl=US">
            <img title="Chroma Lab"
              src="https://play-lh.googleusercontent.com/lHYeOitPuO4gWfpFJJuV9kD2viXTL8WHfb7BmnLUEgypg9BqDfpNlH1719TLuqfFFw=s180">
          </a>
        </div>
        <div class="link">
          <a target="_blank" href="https://play.google.com/store/apps/details?id=com.vblast.flipaclip&hl=fr&gl=US">
            <img title="Flipaclip"
              src="https://play-lh.googleusercontent.com/v1LHbiVKdHFsDqRgZ8pM1iNvLmKGX0c_0pbvopLS4FYOvweMqkPl7c0AO8pu2T_g0Og=s180">
          </a>
        </div>
      </td>
      <td class="empty"> - </td>
      <td class="anims">
        <div class="link">
          <a target="_blank" href="https://play.google.com/store/apps/details?id=org.fortheloss.sticknodes&hl=fr&gl=US">
            <img title="Stick Nodes"
              src="https://play-lh.googleusercontent.com/nAPpT7XX2YI7bXxxIGVKNZw-quz9m9gSN5py38_5Y3p-xZHqStNvn7NdhwP738j_w94=s180">
          </a>
        </div>
        <div class="link">
          <a target="_blank" href="https://play.google.com/store/apps/details?id=com.vblast.flipaclip&hl=fr&gl=US">
            <img title="Flipaclip"
              src="https://play-lh.googleusercontent.com/v1LHbiVKdHFsDqRgZ8pM1iNvLmKGX0c_0pbvopLS4FYOvweMqkPl7c0AO8pu2T_g0Og=s180">
          </a>
        </div>
      </td>
      <td class="empty"> - </td>
    </tr>
  </tbody>
</table>

<icon-button icon="return" [label]="true"></icon-button>

