<div class="page-header">
  <a (click)="scrollToTop()" class="icon-container-art" routerLink="/art">
    <img class="art-icon" src="assets/icons/art-icon.png">
  </a>

  <a (click)="scrollToTop()" class="icon-container-games" routerLink="/games">
    <img class="games-icon" src="assets/icons/games-icon.png">
  </a>

  <div class="spacer"></div>

  <a (click)="scrollToTop()" class="logo-container" title="✨" routerLink="/home">
    <div>
      <h1 class="osef-logo">osef</h1>
    </div>
    <div>
      <h1 class="dot-logo" [ngClass]="kind + '-hue'">.</h1>
    </div>
  </a>

  <div class="spacer"></div>

  <a (click)="scrollToTop()" class="icon-container-anims" routerLink="/anims">
    <img class="anims-icon" src="assets/icons/anims-icon.png">
  </a>

  <a (click)="scrollToTop()" class="icon-container-music" routerLink="/music">
    <img class="music-icon" src="assets/icons/music-icon.png">
  </a>

  <div class="sub-panel">
    <div class="label-container-art"> ART </div>
    <div class="label-container-games"> GAMES </div>
    <div class="spacer"></div>
    <div class="label-container-anims"> ANIMS </div>
    <div class="label-container-music"> MUSIC </div>
  </div>
</div>
