<div class="page-header">
  <ng-container *ngFor="let kind of kinds">
    <ng-container *ngIf="kind; else logo">
      <a (click)="scrollToTop()" [class]="'icon-container-' + kind" [routerLink]="'/' + kind">
        <img [class]="kind + '-icon'" [src]="'assets/icons/' + kind + '-icon.png'">
      </a>
    </ng-container>
  </ng-container>

  <ng-template #logo>
    <div class="spacer"></div>

    <a (click)="scrollToTop()" class="logo-container" title="✨" routerLink="/home">
      <div>
        <h1 class="osef-logo">osef</h1>
      </div>
      <div>
        <h1 class="dot-logo" [ngClass]="pageKind + '-hue'">.</h1>
      </div>
    </a>

    <div class="spacer"></div>
  </ng-template>

  <div class="sub-panel">
    <ng-container *ngFor="let kind of kinds">
      <ng-container *ngIf="kind; else spacer">
        <div [class]="'label-container-' + kind"> {{ label(kind) }} </div>
      </ng-container>
    </ng-container>

    <ng-template #spacer>
      <div class="spacer"></div>
    </ng-template>
  </div>
</div>
